/* Обнуляющий стиль*/ 
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav, footer, header, aside{display: block;}
html, body{height: 100%; font-size:100%; line-height: 1; font-size: 14px;-ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a,a:visited{text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: inherit;}

/* Шрифт */ 
@media(min-width:320px) {
    .container {
        min-width: 320px;
    }
}

@media(min-width:768px) {
    .container {
        min-width: 768px;
    }
}

@media(min-width:1120px) {
    .container {
        min-width: 1120px;
    }
}

body {
    font-family: TT Lakes;
    background-color: F8F8F8;
}

.container{
    max-width: 1120px;
    margin: 0 auto;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 1 auto;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 88px;
    border-bottom: 1px solid #D9FFF5;
}

header {
    max-width: 320px;
    display: inline;
    padding: 0;
}

.header__burger,
.header__logo {
    justify-content: left;
    align-items: left;
    text-align: left;
}

.header__stick,
.header__tools,
.header__search {
    justify-content: right;
    align-items: right;
    text-align: right;
}

.nav__site {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: left;
    
}

.nav__site > a {
padding: 8px;
box-sizing: border-box;
border-radius: 6px;
color: #7E7E82;
margin-left: 16px;
font-size: 16px;
line-height: 24px;
overflow: visible;
width: 248px;
height: 40px;
text-align: center;
}

nav a:hover {
box-shadow: inset 0 0 0 2px #B8FFEC;
}

.nav__page-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: left;
}

h1 {
    margin-left: 12px;
    font-style: Bold;
    font-size: 28px;
    vertical-align: top;
    text-align: left;
}

a {
    white-space: nowrap;    
    color: #000;
    text-decoration: none;
    cursor: default;
}

.main__info {
    margin: 16px;
    
}

.main__more {
    margin-left: 16px;
}

.main__image {
    width: 100%;
} 

/*
.nav__page-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: left;
}

h1 {
    margin-left: 12px;
    font-style: bold;
}

.site-nav {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    align-items: center;
    padding: 0%;
}

title {
    background-color: #F8F8F8;
}

a {
    white-space: nowrap;    
    color: #000;
    text-decoration: none;
    cursor: default;
}

.main-info {
    padding: 16px;
    
}

.more {
    margin-left: 16px;
}

.image {
    width: 100%;
} 
